.post-field > textarea{
  width: 393px;
  font-size: 16px;
  height: 100px;
  resize: none;
  left: 15%;
  position: relative;
}
textarea{
  resize: none;
}

.panel-body > .buttons{
  left: 15%;
  position: relative;
}

.post-button{
  margin-left: 145px;
}

.btn-sm{
  position: absolute;
  left: 5%;
  bottom: 19%;
}

.well{
  position: relative;
}

.well > .message{
  padding: 20px;
  width: 419px;
  text-align: left;
  font-size: 18px;
}

.button{
	background: none;
  border: thin solid #0077B3;
  height: 53px;
  width: 184px;
  position: absolute;
  left: 30%;
  color: #0077B3;
}

.login{
	left: 50%;
}

.block{
}

#sign-up-box, #log-in-box{
	background: #FFF; 
	display: none;
	height: 382px;
	width: 450px;
	position: fixed;
	left: 30%;
	top: 15%;
	border-radius: 2px;
  border: thin solid #eee;

}

.pull-right{
  font-size: 20px;
  margin-right: 15px;
  position: relative;
  float: right;
  margin-top: 15px;
  font-family: helvetica;
  font-weight: 100;

}
#sign-up-box > .title{
  position: absolute;
  margin-left: 154px;
  font-size: 30px;
  margin-top: 16px;
  font-weight: 100;
}

#log-in-box > .title{
  position: absolute;
  margin-left: 185px;
  font-size: 30px;
  margin-top: 16px;
  font-weight: 100;
}

#log-in-box > .form{
  margin-left: 58px;
  margin-top: 70px;
}

#sign-up-box > .form{
  margin-left: 58px;
  margin-top: 70px;
}

#log-in-box .submit{
  margin-left: 58px;
}

#log-in-box strong{
  padding-right: 10px;
}

.form input[type=submit]{
  width: 220px;
  background: #0088CC;
  border: #0088CC;
  border-radius: 2px;
  height: 39px;
  margin-top: 30px;
  color: white;
}

.post-list{
  position: relative;
  height: 700px;
  margin: 0px;
  width: 600px;
  /*left: 28%;*/
}
.post{
  position: relative;
  overflow: hidden;
  border-bottom: thin solid #eee;
  border-left: thin solid #eee;
  border-right: thin solid #eee;
  padding: 40px;
  background: #FFF;
}

.date{
  display: inline-block;
  font-size: 12px;    
  color: gray;
  position: absolute;
  right: 10px;
  top: 5px;
}
.likes{
  display: inline-block;
  font-size: 12px;    
  color: gray;
  position: absolute;
  bottom: 10%;
  left: 7%;
}
.btn{
  margin-right: 10px;
}
.buttons input{
  background: #0077B3;
  border: thin solid #0077B3;
  height: 36px;
  width: 160px;
  color: #FFF;
  border-radius: 4px;
}