body{
	background: #EFF;

}

.button{
	background: none;
  border: thin solid #0077B3;
  height: 53px;
  width: 184px;
  position: absolute;
  left: 30%;
  color: #0077B3;
}

.login{
	left: 50%;
}

.block{
}

#sign-up-box, #log-in-box{
	background: #FFF; 
	display: none;
	height: 382px;
	width: 450px;
	position: fixed;
	left: 30%;
	top: 15%;
	border-radius: 2px;
  border: thin solid #eee;

}

.pull-right{
  font-size: 20px;
  margin-right: 15px;
  position: relative;
  float: right;
  margin-top: 15px;
  font-family: helvetica;
  font-weight: 100;

}
#sign-up-box > .title{
  position: absolute;
  margin-left: 154px;
  font-size: 30px;
  margin-top: 16px;
  font-weight: 100;
}

#log-in-box > .title{
  position: absolute;
  margin-left: 185px;
  font-size: 30px;
  margin-top: 16px;
  font-weight: 100;
}

#log-in-box > .form{
  margin-left: 58px;
  margin-top: 70px;
}

#sign-up-box > .form{
  margin-left: 58px;
  margin-top: 70px;
}

#log-in-box .submit{
  margin-left: 58px;
}

#log-in-box strong{
  padding-right: 10px;
}

.form input[type=submit]{
  width: 220px;
  background: #0088CC;
  border: #0088CC;
  border-radius: 2px;
  height: 39px;
  margin-top: 30px;
  color: white;
}