.main{
  width: 600px;
  position: absolute;
  left: 28%;
}

.main > form{   
  position: relative;
  padding-left: 70px;
  border: thin solid #eee;
  margin: 0px;
  background: #FFF;
}
.post-field{
  padding: 25px;
}
.main
.post-list{
  position: relative;
  height: 700px;
  margin: 0px;
}
.post{
  position: relative;
  overflow: hidden;
  border-bottom: thin solid #eee;
  border-left: thin solid #eee;
  border-right: thin solid #eee;
  padding: 40px;
  background: #FFF;
}

.date{
  display: inline-block;
  font-size: 12px;    
  color: gray;
  position: absolute;
  right: 10px;
  top: 5px;
}
.likes{
  display: inline-block;
  font-size: 12px;    
  color: gray;
  position: absolute;
  bottom: 10%;
  left: 7%;
}
.buttons input{
  background: #0077B3;
  border: thin solid #0077B3;
  height: 36px;
  width: 160px;
  color: #FFF;
  border-radius: 4px;
  margin-left: 145px;
}