{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#0088CC">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Social</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="block">
  <button class="button" id="sign-up">Sign up</button>
  <button class="button login">Log In</button>
</div>
<div class="container" id="sign-up-box">



</div>
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
