{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#0088CC">
  <div>
    <div class="row">
      <div class="hero-text">
        <h1>Social</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="block">
  <button class="button" id="sign-up">Sign up</button>
  <button class="button login" id="log-in">Log In</button>
</div>

<div class="container" id="sign-up-box">
  <div class='title'>Join Social</div>
  <div class='pull-right close'>X</div>
  <div class='form'>
    <form action="{{url "App.SaveUser"}}" method="POST">
      {{with $field := field "user.Username" .}}
        <p class="{{$field.ErrorClass}}">
          <strong>Username:</strong>
          <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
          <span class="error">{{$field.Error}}</span>
        </p>
      {{end}}
      {{with $field := field "user.Name" .}}
        <p class="{{$field.ErrorClass}}">
          <strong>Real name:</strong> <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
          <span class="error">{{$field.Error}}</span>
        </p>
      {{end}}
      {{with $field := field "user.Password" .}}
        <p class="{{$field.ErrorClass}}">
          <strong>Password:</strong> <input type="password" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
          <span class="error">{{$field.Error}}</span>
        </p>
      {{end}}
      {{with $field := field "verifyPassword" .}}
        <p class="{{$field.ErrorClass}}">
          <strong>Verify password:</strong> <input type="password" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> *
          <span class="error">{{$field.Error}}</span>
        </p>
      {{end}}
      <div class="submit">
        <input type="submit" value="Sign Up">
      </div>
    </form>
  </div>
</div>

<div class="container" id="log-in-box">
  <div class='title'>Log In</div>
  <div class='pull-right close'>X</div>
  <div class='form'>
    <form action="{{url "App.Login"}}" method="POST">
      {{with $field := field "user.Username" .}}
        <p class="{{$field.ErrorClass}}">
          <strong>Username:</strong>
          <input type="text" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"> 
          <span class="error">{{$field.Error}}</span>
        </p>
      {{end}}
      {{with $field := field "user.Password" .}}
        <p class="{{$field.ErrorClass}}">
          <strong>Password:</strong> <input type="password" name="{{$field.Name}}" size="16" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </p>
      {{end}}
      <div class="submit">
        <input type="submit" value="Log in">
      </div>
    </form>
  </div>
</div>


<div>
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
