{{set . "title" "Home"}}
{{template "header.html" .}}

<a href="{{url "App.Logout"}}">Logout</a>
<header class="hero-unit" style="background-color:#0088CC">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Welcome {{.user.Username}}!</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="main">
  <form action="{{url "App.SavePost"}}" method="POST">
    {{with $field := field "post.Message" .}}
      <p class="post-field">
        <textarea placeholder="Submit a new post" name="{{$field.Name}}" size="160" value="{{$field.Flash}}"> </textarea>
      </p>
    {{end}}
    <p class="buttons">
      <input type="submit" value="Submit" name="Submit">
    </p>
  </form>

  <ul class="post-list">
  {{range .posts}}
    <li class="post">
      <div class="">{{.User}}</div>
      <div class="message">{{.Message}}</div>
      <div class="date"> {{.Date.Month}} {{.Date.Day}} {{.Date.Year}}</div>
      <div class="likes">{{.Likes}} Likes</div>
    </li>
  {{end}}
  </ul>
</div>

{{template "footer.html" .}}
